Repository espoo-dev/espoo-dev: changes, and which Semaphore blocks are due for each by the changed paths.
All: Install dependencies, Test, Lint, Build, Deploy storybook docs

Install dependencies:
  jobs:
  - name: install client dependencies
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - cache store

Test:
  jobs:
  - name: test client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter before-build
  ...

Lint:
  jobs:
  - name: lint client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn lint

Build:
  jobs:
  - name: build client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn build

Deploy storybook docs:
  secrets:
  - name: chromatic
  jobs:
  - name: deploy storybook
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - echo $CHROMATIC_PROJECT_TOKEN
    - yarn chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN

fix typo
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/spec/decorators/survey_decorator_spec.rb
Due: none

redirect to surveys page instead of student page
  backend/app/controllers/students_controller.rb
  backend/app/controllers/users/sessions_controller.rb
  backend/app/views/students/index.slim
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/config/routes.rb
  backend/spec/routes_spec.rb
  backend/spec/system/sign_in_spec.rb
Due: none

Show surveys ready to be answered for student (#332)
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/controllers/students_controller.rb
  backend/app/controllers/surveys_controller.rb
  backend/app/controllers/users/sessions_controller.rb
  backend/app/decorators/survey_decorator.rb
  backend/app/models/survey.rb
  backend/app/views/students/index.slim
  backend/app/views/surveys/index.slim
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/config/routes.rb
  backend/db/seeds.rb
  backend/spec/decorators/survey_decorator_spec.rb
  backend/spec/routes_spec.rb
  backend/spec/system/sign_in_spec.rb
Due: none

fix release phase
  backend/Gemfile
Due: none

Add better solution for spec helpers
  backend/spec/rails_helper.rb
Due: none

Add answered questions quantity
  backend/app/models/question.rb
  backend/app/models/survey.rb
  backend/app/serializers/survey_serializer.rb
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/models/question_spec.rb
  backend/spec/models/survey_spec.rb
  backend/spec/requests/answers_surveys_request_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

:sparkles: Create project
  android-client/Espoo/.idea/codeStyles/Project.xml
  android-client/Espoo/.idea/codeStyles/codeStyleConfig.xml
  android-client/Espoo/.idea/sonarIssues.xml
  android-client/Espoo/.idea/vcs.xml
  android-client/Espoo/app/build.gradle
  android-client/Espoo/app/src/main/java/com/example/espoo/MainActivity.kt
  android-client/Espoo/build.gradle
  android-client/Espoo/jacoco.gradle
  android-client/Espoo/sonarqube.gradle
Due: none

Work in progress
  frontend/.env.example
  frontend/package.json
  frontend/src/components/app-radio-button/index.tsx
  frontend/src/components/app-select/app-select.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/src/styles/login.styles.ts
  frontend/yarn.lock
Due: Install dependencies, Test, Lint, Build, Deploy storybook docs

add login pages
  raw design/login.html
  raw design/logo.png
  raw design/sign.html
  raw design/style.css
Due: none

move from raw to inside rails
  backend/app/assets/images/logo.png
  backend/app/assets/stylesheets/application.scss
  backend/app/views/devise/sessions/new.slim
Due: none

Create answer survey on surveys page
  backend/app/controllers/answers_surveys_controller.rb
  backend/app/views/surveys/index.slim
  backend/config/routes.rb
  backend/spec/routes_spec.rb
  backend/spec/system/creates_answer_survey_spec.rb
Due: none

337 - Add login instructions to redme
  README.md
  docs/pull_request_template.md
Due: none

fix doc
  README.md
Due: none

new login pages
  raw design/login.html
  raw design/logo2.png
  raw design/sign.html
  raw design/style.css
Due: none

responsive login on devices with small resolutions
  frontend/src/styles/login.styles.ts
Due: Test, Lint, Build, Deploy storybook docs

Remove when condition for install dependencies If cache expires ci will fail
  .semaphore/semaphore.yml
Due: none

Revert rails changes
  backend/app/assets/stylesheets/application.scss
  backend/app/views/devise/sessions/new.slim
Due: none

Refactor html and css
  raw design/login.html
  raw design/style.css
Due: none

Remove not related files
  raw design/logo.png
  raw design/sign.html
Due: none

Remove logo from assets
  backend/app/assets/images/logo.png
Due: none

add login pages (#341)
  backend/app/assets/stylesheets/application.scss
  raw design/login.html
  raw design/logo2.png
  raw design/style.css
Due: none

add answer_survey model and service
  frontend/src/api/models/answer_survey.ts
  frontend/src/api/services/answer_survey.ts
Due: Test, Lint, Build, Deploy storybook docs

fix broken login and register buttons
  frontend/src/components/app-button/app-button.styles.ts
Due: Test, Lint, Build, Deploy storybook docs

[UPDATE] convert login html page to slim
  raw design/login.html
  raw design/login.slim
  raw design/logo.png
Due: none

[UPDATE] login page UI changes
  backend/app/assets/images/logo.png
  backend/app/assets/stylesheets/application.scss
  backend/app/views/devise/sessions/new.slim
Due: none

just changing somethig
  backend/app/views/devise/sessions/new.slim
Due: none

remove bg image
  backend/app/assets/stylesheets/application.scss
Due: none

Finish migration of select box to radio button
  frontend/src/components/app-radio-button/index.tsx
  frontend/src/pages/register.tsx
Due: Test, Lint, Build, Deploy storybook docs

Remove low internet connection mock
  frontend/src/pages/register.tsx
Due: Test, Lint, Build, Deploy storybook docs

Fix login and register alignment
  frontend/src/styles/login.styles.ts
Due: Test, Lint, Build, Deploy storybook docs

Remove test that doesn't pass required props
  frontend/src/components/main/teacher-list.test.tsx
Due: Test, Lint, Build, Deploy storybook docs

Fixing lint warnings
  frontend/src/components/app-radio-button/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
Due: Test, Lint, Build, Deploy storybook docs

Path conditions:
  Install dependencies: any of: frontend/package.json
  Test: any of: frontend
  Lint: any of: frontend
  Build: any of: frontend
  Deploy storybook docs: any of: frontend
