Repository espoo-dev/espoo-dev: changes, and which Semaphore blocks are due for each by the changed paths.
All: Install dependencies, Test, Lint, Build, Deploy storybook docs

.semaphore/semaphore.yml:

version: v1.0
name: Espoolingo
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu1804
blocks:
  - name: Install dependencies
    dependencies: []
    # Run this block on changes in frontend folder
    run:
      when: "change_in('/frontend/package.json')"
    task:
      jobs:
        - name: install client dependencies
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - cache store
  - name: Test
    dependencies: []
    run:
      when: "change_in('/frontend')"
    task:
      jobs:
        - name: test client
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            - chmod +x ./cc-test-reporter
            - ./cc-test-reporter before-build
            - yarn test:coverage
            - ./cc-test-reporter format-coverage -t lcov -o codeclimate.frontend.json coverage/lcov.info
            - ./cc-test-reporter sum-coverage codeclimate.*.json -o codeclimate.total.json
            - ./cc-test-reporter upload-coverage -r 901775431df63d8131620226e329cdb757bede481ec12d99b249da870beacb52 -i codeclimate.total.json
  - name: Lint
    dependencies: ["Install dependencies"]
    # Run this block on changes in frontend folder
    run:
      when: "change_in('/frontend')"
    task:
      jobs:
        - name: lint client
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn lint

  - name: Build
    dependencies: ["Install dependencies"]
    # Run this block on changes in frontend folder and installed dependencies
    run:
      when: "change_in('/frontend')"
    task:
      jobs:
        - name: build client
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn build
  - name: Deploy storybook docs
    dependencies: ["Build", "Lint", "Test"]
    run:
      when: "change_in('/frontend')"
    task:
      secrets:
        - name: chromatic
      jobs:
        - name: deploy storybook
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - echo $CHROMATIC_PROJECT_TOKEN
            - yarn chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN

Use backgrund image from assets
  backend/app/assets/images/login-signin-background.jpg
  backend/app/assets/stylesheets/application.scss
Due: none

✨ Change select to radio button on login (#340)
  frontend/.env.example
  frontend/package.json
  frontend/src/components/app-radio-button/index.tsx
  frontend/src/components/app-select/app-select.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/src/styles/login.styles.ts
  frontend/yarn.lock
Due: Install dependencies, Test, Lint, Build, Deploy storybook docs

add signup page
  raw design/sign.html
Due: none

Fix register responsiveness
  frontend/src/styles/login.styles.ts
Due: Test, Lint, Build, Deploy storybook docs

add onClick on surveyItem button and add tests
  frontend/src/components/main/SurveysList.tsx
  frontend/src/components/main/surveys-list.test.tsx
Due: Test, Lint, Build, Deploy storybook docs

add answer_survey model and service
  frontend/src/api/models/answer_survey.ts
  frontend/src/api/services/answer_survey.ts
Due: Test, Lint, Build, Deploy storybook docs

fix typo on readme
  backend/README.md
Due: none

form update
  raw design/sign.html
Due: none

Remove unused class
  backend/app/views/devise/sessions/new.slim
  raw design/login.html
  raw design/sign.html
Due: none

Fix spacing for role
  raw design/sign.html
Due: none

Feature: Create signup issue #373 Parse/convert signup "html page" to "slim page"
  backend/app/controllers/application_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/devise/registrations/new.slim
Due: none

add helper spec for student_role and teacher_role
  backend/spec/helpers/application_helper_spec.rb
Due: none

Fix issue #373 Parse/convert signup "html page" to "slim page"
  backend/app/controllers/application_controller.rb
  backend/app/helpers/application_helper.rb
  backend/app/views/devise/registrations/new.slim
  backend/spec/helpers/application_helper_spec.rb
Due: none

Vertically center login and signup forms
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
  raw design/login.html
  raw design/sign.html
Due: none

Add translations for remaining hardcoded strings in the backend
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
  backend/app/views/surveys/index.slim
  backend/config/locales/en.yml
Due: none

Revert "Vertically center login and signup forms"
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
  raw design/login.html
  raw design/sign.html
Due: none

Revert "Revert "Vertically center login and signup forms""
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
  raw design/login.html
  raw design/sign.html
Due: none

Add translations for remaining hardcoded strings in the backend
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
  backend/app/views/surveys/index.slim
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/spec/system/sign_in_spec.rb
Due: none

espoo-dev-381: Fix logo size by using `image_tag`
  backend/app/views/devise/registrations/new.slim
  backend/app/views/devise/sessions/new.slim
Due: none

Add answered questions quantity to survey
  backend/app/controllers/api/v1/surveys_controller.rb
Due: none

Add questions method in Survey serializer
  backend/app/serializers/survey_serializer.rb
Due: none

fixup! Add answered questions quantity to survey
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Add answered questions quantity to survey
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Setup swagger
  CONTRIBUTING.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/initializers/rswag-ui.rb
  backend/config/initializers/rswag_api.rb
  backend/config/routes.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: none

Setup swagger
  CONTRIBUTING.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/initializers/rswag-ui.rb
  backend/config/initializers/rswag_api.rb
  backend/config/routes.rb
  backend/spec/routes_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Due: none

move rspec-rails to all envs
  backend/Gemfile
Due: none

Updating readme with info mobile infos
  README.md
Due: none

mobile infos updated
  README.md
Due: none

updated infos in readme file
  README.md
Due: none

Creating login screen as a copy from https://espoolingo.herokuapp.com/login.
  android-client/Espoo/.idea/deploymentTargetDropDown.xml
  android-client/Espoo/.idea/gradle.xml
  android-client/Espoo/.idea/misc.xml
  android-client/Espoo/app/src/main/AndroidManifest.xml
  android-client/Espoo/app/src/main/java/com/example/espoo/LoginActivity.kt
  android-client/Espoo/app/src/main/res/drawable/logo.png
  android-client/Espoo/app/src/main/res/layout/activity_login.xml
  android-client/Espoo/app/src/main/res/layout/activity_main.xml
  android-client/Espoo/app/src/main/res/values/strings.xml
  android-client/Espoo/app/src/main/res/values/themes.xml
Due: none

Add the rails front-end endpoint and views
  backend/app/controllers/surveys_controller.rb
  backend/app/views/surveys/show.slim
  backend/config/routes.rb
Due: none

:hammer: refactor: add handle to error message to user #396
  frontend/src/api/error-handler.ts
Due: Test, Lint, Build, Deploy storybook docs

:white_check_mark: chore: generate html page to frontend coverage #397
  frontend/jest.config.ts
Due: Test, Lint, Build, Deploy storybook docs

:rotating_light: typo: fix lint #397
  frontend/jest.config.ts
Due: Test, Lint, Build, Deploy storybook docs

Add create user to swagger
  backend/swagger/v1/swagger.yaml
Due: none
