Repository espoo-dev/espoo-dev: changes, and which Semaphore blocks are due for each by the changed paths.
All: Install dependencies, Test, Lint, Build, Deploy storybook docs

Install dependencies:
  jobs:
  - name: install client dependencies
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - cache store

Test:
  jobs:
  - name: test client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter before-build
  ...

Lint:
  jobs:
  - name: lint client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn lint

Build:
  jobs:
  - name: build client
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn build

Deploy storybook docs:
  secrets:
  - name: chromatic
  jobs:
  - name: deploy storybook
    commands:
    - checkout
    - cd frontend
    - cache restore
    - yarn install
    - echo $CHROMATIC_PROJECT_TOKEN
    - yarn chromatic -- --project-token=$CHROMATIC_PROJECT_TOKEN

Move all files in an admin directory
  backend/spec/system/admin/admin_spec.rb
  backend/spec/system/admin/creates_answer_survey_spec.rb
  backend/spec/system/admin/error_pages_spec.rb
  backend/spec/system/admin/option_crud_spec.rb
  backend/spec/system/admin/question_crud_spec.rb
  backend/spec/system/admin/question_type_crud_spec.rb
  backend/spec/system/admin/role_crud_spec.rb
  backend/spec/system/admin/sign_in_spec.rb
  backend/spec/system/admin/survey_crud_spec.rb
  backend/spec/system/admin/survey_subject_crud_spec.rb
  backend/spec/system/admin/users_crud_spec.rb
Due: none

Add the rails front-end endpoint and views
  backend/app/controllers/surveys_controller.rb
  backend/app/views/surveys/show.slim
  backend/config/routes.rb
  backend/spec/system/views/survey_views_spec.rb
Due: none

Add questions method in Survey serializer
  backend/app/serializers/survey_serializer.rb
Due: none

Add answered questions quantity to survey
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Add the rails front-end endpoint and views
  backend/app/controllers/surveys_controller.rb
  backend/app/views/surveys/show.slim
  backend/config/routes.rb
  backend/spec/routes_spec.rb
  backend/spec/system/views/survey_views_spec.rb
Due: none

Add the endpoint for first question
  backend/app/controllers/answers_surveys_controller.rb
  backend/app/controllers/questions_controller.rb
  backend/app/views/questions/show.slim
  backend/config/routes.rb
  backend/spec/system/views/question_view_spec.rb
Due: none

Add endpoint for question show
  backend/app/controllers/answers_surveys_controller.rb
  backend/app/controllers/questions_controller.rb
  backend/app/views/questions/show.slim
  backend/config/routes.rb
  backend/spec/system/views/question_view_spec.rb
Due: none

Add question show endpoint
  backend/app/controllers/surveys_controller.rb
  backend/app/views/surveys/show.slim
  backend/config/routes.rb
  backend/spec/routes_spec.rb
  backend/spec/system/views/survey_views_spec.rb
Due: none

:test_tube: feat: add tests to error handler #396
  frontend/package.json
  frontend/src/api/error-handler.test.ts
  frontend/src/api/error-handler.ts
  frontend/yarn.lock
Due: Install dependencies, Test, Lint, Build, Deploy storybook docs

Add roles endpoint
  backend/swagger/v1/swagger.yaml
Due: none

:sparkles: feat: add survey item component #405
  frontend/src/components/main/SurveysList.tsx
  frontend/src/components/survey-item/survey-item.style.tsx
  frontend/src/components/survey-item/survey-item.test.tsx
  frontend/src/components/survey-item/survey-item.tsx
Due: Test, Lint, Build, Deploy storybook docs

Add answers_surveys to show
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/serializers/answers_survey_serializer.rb
  backend/app/serializers/simple_answers_survey_serializer.rb
  backend/app/serializers/survey_serializer.rb
  backend/spec/requests/answers_surveys_request_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Add serializer to index
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/serializers/survey_serializer.rb
Due: none

add current_answers_survey to survey
  backend/app/serializers/survey_serializer.rb
  backend/spec/requests/answers_surveys_request_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

fix cops
  backend/.rubocop.yml
Due: none

Fix reek
  backend/app/serializers/survey_serializer.rb
Due: none

Add answers_surveys to show
  backend/.rubocop.yml
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/serializers/answers_survey_serializer.rb
  backend/app/serializers/simple_answers_survey_serializer.rb
  backend/app/serializers/survey_serializer.rb
  backend/spec/requests/answers_surveys_request_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

:typo: linting and add ignore in root #405
  .gitignore
  frontend/src/components/survey-item/survey-item.tsx
Due: Test, Lint, Build, Deploy storybook docs

Fix serializer for surveys
  backend/.rubocop.yml
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/models/survey.rb
  backend/app/serializers/survey_serializer.rb
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/models/option_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Fix serializer for surveys
  backend/.reek.yml
  backend/.rubocop.yml
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/models/survey.rb
  backend/app/serializers/survey_serializer.rb
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/models/option_spec.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Add surveys endpoint to swagger
  backend/swagger/v1/swagger.yaml
Due: none

Add RoR reference projects to backend/readme.md #411
  README.md
Due: none

Added references project in readme.md
  README.md
Due: none

reference projects infos were added and organized
  README.md
  backend/README.md
Due: none

subtitle 'reference project' fixed
  backend/README.md
Due: none

extra empty line removed
  README.md
Due: none

:sparkles: add survey item with grid in surveylist and refactor tests #405
  frontend/src/api/models/survey.ts
  frontend/src/components/main/SurveysList.tsx
  frontend/src/components/main/surveys-list.test.tsx
  frontend/src/components/survey-item/survey-item.style.tsx
  frontend/src/components/survey-item/survey-item.test.tsx
  frontend/src/components/survey-item/survey-item.tsx
Due: Test, Lint, Build, Deploy storybook docs

:hammer: fix lint #405
  frontend/.storybook/preview.js
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/components/app-radio-button/index.tsx
  frontend/src/components/survey-item/survey-item.test.tsx
  frontend/src/components/survey-item/survey-item.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
Due: Install dependencies, Test, Lint, Build, Deploy storybook docs

fixing readme file line
  README.md
Due: none

Add answered questions quantity to survey
  backend/app/controllers/surveys_controller.rb
  backend/app/presenters/base.rb
  backend/app/presenters/survey_with_answered_questions.rb
  backend/app/serializers/survey_serializer.rb
  backend/app/views/surveys/index.slim
  backend/spec/factories/questions.rb
  backend/spec/factories/surveys.rb
  backend/spec/requests/surveys_request_spec.rb
  backend/spec/system/admin/admin_spec.rb
  backend/spec/system/admin/creates_answer_survey_spec.rb
  backend/spec/system/admin/error_pages_spec.rb
  backend/spec/system/admin/option_crud_spec.rb
  backend/spec/system/admin/question_crud_spec.rb
  backend/spec/system/admin/question_type_crud_spec.rb
  backend/spec/system/admin/role_crud_spec.rb
  backend/spec/system/admin/sign_in_spec.rb
  backend/spec/system/admin/survey_crud_spec.rb
  backend/spec/system/admin/survey_subject_crud_spec.rb
  backend/spec/system/admin/users_crud_spec.rb
  backend/spec/system/front_end/survey_crud_spec.rb
Due: none

:ambulance: fix type of current_answers_survey #405
  frontend/src/api/models/survey.ts
  frontend/src/components/main/surveys-list.test.tsx
  frontend/src/components/survey-item/survey-item.test.tsx
Due: Test, Lint, Build, Deploy storybook docs

:hammer: add null type in Survey interface to atrr current answers #405
  frontend/src/api/models/survey.ts
Due: Test, Lint, Build, Deploy storybook docs

Add create ansers survey endpoint
  backend/swagger/v1/swagger.yaml
Due: none

:white_check_mark: add case of test when api of survey return error #418
  frontend/src/components/main/surveys-list.test.tsx
Due: Test, Lint, Build, Deploy storybook docs

Add get survey to swagger
  backend/swagger/v1/swagger.yaml
Due: none

Add list users endpoint to swagger
  backend/swagger/v1/swagger.yaml
Due: none

Add answer request to swagger
  backend/swagger/v1/swagger.yaml
Due: none

✏️ fix typo #418
  frontend/src/components/main/surveys-list.test.tsx
Due: Test, Lint, Build, Deploy storybook docs

Remove postman link from docs section
  CONTRIBUTING.md
Due: none

Path conditions:
  Install dependencies: any of: frontend/package.json
  Test: any of: frontend
  Lint: any of: frontend
  Build: any of: frontend
  Deploy storybook docs: any of: frontend
